[user]
	name = {{ .name | quote }}
	email = {{ .email | quote }}

{{ if eq .chezmoi.os "darwin" }}
{{ if .macOS.useProxy }}
[https]
	proxy = {{ .macOS.proxyUrl | quote }}
[http]
	proxy = {{ .macOS.proxyUrl | quote }}
{{ end }}
{{ end }}

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
