# Oh My Zsh 配置模块
# 文件: ~/.zsh_config/oh-my-zsh.zsh

# Oh My Zsh 安装路径
export ZSH="$HOME/.oh-my-zsh"

# 主题设置
ZSH_THEME="powerlevel10k/powerlevel10k"

# 插件配置
plugins=(
  git
  zsh-syntax-highlighting
  autojump
  zsh-autosuggestions
)

# 初始化 Oh My Zsh
source $ZSH/oh-my-zsh.sh

# Powerlevel10k 配置
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh
